/* styles for all pages*/
@use 'variables';
@use 'mixins';

.link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: variables.$active-color;
  }
}

.logo {
  font-family: 'Raleway';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  &__accent {
    color: variables.$active-color;
  }
}

%page-button {
  background-color: variables.$active-color;
  border: none;
  border-radius: 4px;        
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  color: variables.$main-color;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 1.87;
}

.section {
  display: flex;
  justify-content: center;
  padding: 60px 0;
  &-header {
    font-size: 28px;
    line-height: 1.18;
    padding-bottom: 30px;
    text-align: center;
    color: variables.$header-color;
  }
}

.social-links {
  display: flex;
  justify-content: space-between;
  @include mixins.social-icon(variables.$main-color, variables.$icon-color);
}

@media (min-width: 480px) {
  .container {
    width: 450px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 738px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
  .section {
    padding: 94px 0;
    &-header {
      font-size: 36px;
      line-height: 1.17;
      padding-bottom: 50px;
    }
  }
}
